* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}body{
    display: flex;
    background-color: rgb(0, 208, 255);
    align-items: center;
    justify-content: center;
}
#card{
    height: 480px;
    width: 330px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
}
#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
    
}
.story{
    border: 3px solid red;
    height: 90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    display: none;
}